<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>{% include "entheader.html" %}

<form method="post" action="/eview_notification1/{{ data['notification_id'] }}">
<table width="359" border="0" align="center">

 <tr>
    <td ><strong>Notification name</strong></td>
    <td >{{ data['notification_name'] }}</td>
  </tr>

  <tr>
    <td><strong>Notification description</strong></td>
    <td>{{ data['notification_description'] }}</td>
  </tr>
  <tr>
    <td><strong>Notification date</strong></td>
    <td>{{ data['notification_date'] }}</td>
  </tr>
{#  <tr>#}
{#    <td colspan="2"><center>#}
{#      <strong>#}
{#      <input type="submit" name="back" id="button" value="Back" class="btn btn-success" />#}
{#      </strong>#}
{#    </center></td>#}
{#    </tr>#}
</table>

</form>
{% include "footer.html" %}


</body>
</html>
