<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>conference</title>
</head>
<body>
{% include "header.html" %}
<form id="form1" name="form1" method="post" action="/add_conference1">
  <table border="0" align="center" height="250" width="450">

      <tr>
        <th >Name</th>
          <td>
        <input type="text" name="textfield" id="textfield" required class="form-control"></td>
      </tr>
      <tr>
        <th>Description</th>
        <td>
        <textarea name="textarea" id="textarea" required class="form-control"></textarea></td>
      </tr>
      <tr>
        <td align="center" colspan="2"><input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success">
        <input type="submit" name="submit" id="button" value="Cancel" class="btn btn-warning"></td>
      </tr>

  </table>
</form>
{% include "footer.html" %}
</body>
</html>
