<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "header.html" %}
{##}
{#<div align="center">#}
{#    <p><a href="/entrepreneur_management" >Entrepreneur Management</a></p>#}
{#    <p><a href="/training_management" >Training Management</a></p>#}
{#    <p><a href="/product_management" >Product Management</a></p>#}
{#     <p><a href="/customer_feedback" >Customer Feedback</a></p>#}
{#     <p><a href="/calculating_sales" >Sales Calculation</a></p>#}
{#     <p><a href="/notification_management" >Notifications</a></p>#}
{#     <p><a href="/training_feedback" >Training Feedback</a></p>#}
{#     <p><a href="/conference_management" >Conferences</a></p>#}
{#    <p><a href="/">Materials requested</a></p>#}
{#    <p><a href="/entrepreneur_comments">Entrepreneur Comments</a> </p>#}
{#</div>#}
{% include "footer.html" %}

</body>
</html>