<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
{% include "header.html" %}

<form id="form1" name="form1" method="post">
  <table width="200" border="0" align="center">
    <tbody>
      <tr>
        <th width="55" scope="col">#</th>
        <th width="87" scope="col">Name</th>
        <th width="36" scope="col">Sales</th>
      </tr>
      {% for i in data %}
      <tr>
      <th width="55" scope="col">{{ loop.index }}</th>
        <th width="87" scope="col">{{ i['entrepreneur_name'] }}</th>
        <th width="36" scope="col">{{ i['no_of_sales'] }}</th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
{% include "footer.html" %}

</body>
</html>
