<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>
<body>
{% include "header.html" %}

<form id="form1" name="form1" method="post" action="/view_notification1/{{ data['notification_id'] }}">
<br>
<table border="0" align="center" height="250">
  <tbody>
    <tr>
      <th >Date</th>
      <td><input value="{{ data['notification_date'] }}" readonly class="form-control"/></td>
    </tr>
    <tr>
      <th scope="col">Title</th>
      <td scope="col"><input value="{{ data['notification_name'] }}" readonly class="form-control"/></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><textarea name="ll" rows="4" readonly class="form-control">{{ data['notification_description'] }}</textarea></td>
    </tr>

    <tr>
      <td colspan="2" align="center" height="50"><input type="submit" name="delete" id="delete" value="Delete" class="btn btn-danger">
        <input type="submit" name="delete" id="button" value="Cancel" class="btn btn-warning"></td>
    </tr>
  </tbody>
</table>
	</form>
{% include "footer.html" %}

</body>
</html>
