<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
{% include "header.html" %}

<form id="form1" name="form1" method="post">
  <table width="200" border="0" class="table table-dark">
    <tbody>
      <tr>
        <th scope="col">#</th>
           <th scope="col">Date</th>
        <th scope="col">Notification</th>
               <th scope="col">More</th>
      </tr>
    {% for i in data %}
    <tr>
        <th scope="col">{{ loop.index }}</th>
                <th scope="col">{{ i['notification_date'] }}</th>
        <th scope="col">{{ i['notification_name'] }}</th>
        <th scope="col"><a href="/view_notifications1/{{ i['notification_id'] }}" class="btn btn-primary">View More</a></th>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
{% include "footer.html" %}

</body>
</html>
