<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "header.html" %}

<form id="form1" name="form1" method="post" action="/view_conference1/{{ data['conferenceid'] }}">
  <table width="200" border="0" height="150" align="center" >
    <tbody>
      <tr>
        <th scope="col">Name</th>
        <td scope="col"><input value="{{ data['conference_name'] }}" readonly/></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><input value="{{ data['conference_description'] }}" readonly/></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" name="delete" id="delete" value="Delete" class="btn btn-danger">
        <input type="submit" name="delete" id="button" value="Cancel" class="btn btn-warning"></td>
      </tr>
    </tbody>
  </table>
</form>
{% include "footer.html" %}

</body>
</html>