{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#	<title>Login V1</title>#}
{#	<meta charset="UTF-8">#}
{#	<meta name="viewport" content="width=device-width, initial-scale=1" >#}
{#<!--===============================================================================================-->	#}
{#	<link rel="icon" type="image/png" href="../static/login/images/icons/favicon.ico"/>#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="../static/login/vendor/bootstrap/css/bootstrap.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="../static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="../static/login/vendor/animate/animate.css">#}
{#<!--===============================================================================================-->	#}
{#	<link rel="stylesheet" type="text/css" href="../static/login/vendor/css-hamburgers/hamburgers.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="../static/login/vendor/select2/select2.min.css">#}
{#<!--===============================================================================================-->#}
{#	<link rel="stylesheet" type="text/css" href="../static/login/css/util.css">#}
{#	<link rel="stylesheet" type="text/css" href="../static/login/css/main.css">#}
{#<!--===============================================================================================-->#}
{#</head>#}
{#<body>#}
{#  <form  method="post" action="/admin_home">#}
{#	#}
{#	<div class="limiter">#}
{#		<div class="container-login100">#}
{#			<div class="wrap-login100">#}
{#				<div class="login100-pic js-tilt" data-tilt>#}
{#					<img src="../static/login/images/img-01.png" alt="IMG">#}
{#				</div>#}
{##}
{#				<form class="login100-form validate-form">#}
{#					<span class="login100-form-title">#}
{#						Member Login#}
{#					</span>#}
{##}
{#					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">#}
{#						<input class="input100" type="text" name="textfield" placeholder="Email">#}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-envelope" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{##}
{#					<div class="wrap-input100 validate-input" data-validate = "Password is required">#}
{#						<input class="input100" type="password" name="password" placeholder="Password">#}
{#						<span class="focus-input100"></span>#}
{#						<span class="symbol-input100">#}
{#							<i class="fa fa-lock" aria-hidden="true"></i>#}
{#						</span>#}
{#					</div>#}
{#					#}
{#					<div class="container-login100-form-btn">#}
{#                        <input type="submit" class="login100-form-btn" name="lsubmit" value="Login" >#}
{#						<button class="login100-form-btn">#}
{#							Login#}
{#						</button>#}
{#					</div>#}
{#					<div class="text-center p-t-136">#}
{#                        <input type="submit" class="fa fa-long-arrow-right m-l-5" aria-hidden="true" name="lsubmit" value="Create Your Account">#}
						{#  <a class="txt2" href="#" >
{#							Create your Account#}
{#							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>#}
{#						</a>#}
{#					</div>#}
{#				</form>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	#}
{#	#}
{##}
{#	#}
{#<!--===============================================================================================-->	#}
{#	<script src="../static/login/vendor/jquery/jquery-3.2.1.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="../static/login/vendor/bootstrap/js/popper.js"></script>#}
{#	<script src="../static/login/vendor/bootstrap/js/bootstrap.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="../static/login/vendor/select2/select2.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="../static/login/vendor/tilt/tilt.jquery.min.js"></script>#}
{#	<script >#}
{#		$('.js-tilt').tilt({#}
{#			scale: 1.1#}
{#		})#}
{#	</script>#}
{#<!--===============================================================================================-->#}
{#	<script src="../static/login/js/main.js"></script>#}
{#</form>#}
{#</body>#}
{#</html>#}



<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V19</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
{#	<link rel="icon" type="image/png" href="../static/imagesl/icons/favicon.ico"/>#}
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendorl/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fontsl/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/fontsl/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendorl/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendorl/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendorl/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendorl/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendorl/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/cssl/util.css">
	<link rel="stylesheet" type="text/css" href="../static/cssl/main.css">
<!--===============================================================================================-->
</head>
<body>
<form id="form1" name="form1" method="post" action="/admin_home">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-33">
						Account Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="textfield" placeholder="Email">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="container-login100-form-btn m-t-20">
{#						<button class="login100-form-btn">#}
                        <input type="submit" class="login100-form-btn" name="lsubmit" value="Login" >
{#						</button>#}
					</div>

					<div class="text-center p-t-45 p-b-4">
						<span class="txt1">
							Forgot
						</span>

						<a href="/forget_pswd" class="txt2 hov1">
							 Password?
						</a>
					</div>

					<div class="text-center">
						<span class="txt1">
							Don't have an account?
						</span>

						<a href="/user_registeration" class="txt2 hov1">
							Sign up
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>



<!--===============================================================================================-->
	<script src="../static/vendorl/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendorl/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendorl/bootstrap/js/popper.js"></script>
	<script src="../static/vendorl/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendorl/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendorl/daterangepicker/moment.min.js"></script>
	<script src="../static/vendorl/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendorl/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/jsl/main.js"></script>
</form>
</body>
</html>