<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>
<body>
<form id="form1" name="form1" method="post">
  <table width="522" height="138" border="1">
    <tbody>
      <tr>
        <th width="168" scope="row">OrderId:</th>
        <td width="173">&nbsp;</td>
      </tr>
      <tr>
        <th scope="row">Date of Order:</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th scope="row">Payment Method:</th>
		  <th scope="row">
		    <label>
		      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0">
	        Cash On Delivery</label>

		    <br>
		    <label>
		      <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2">
	        Debit Card</label>
		    <br>
	      </th>
  </tr>
      <tr>
          <th scope="row">Total Products:</th>
          <td></td>
      </tr>
          <tr><th scope="row">Total Amount:</th>
              <td></td></tr>
    <tr><th scope="row">Account No.:</th>
        <td><input type="text" name="accountno"></td></tr>
         <tr> <th scope="row">Pin:</th>
             <td><input type="text" name="pin"></td></tr>
      <tr>
        <th scope="row"><input type="submit" name="submit" id="submit" value="Pay"></th>
        <td><input type="submit" name="button" id="button" value="Cancel"></td>
      </tr>
    </tbody>
  </table>
</form>
</body>
</html>
