<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
     <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="../static/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/vendors/selectFX/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="../static/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
{#                        <img class="align-content" src="images/logo.png" alt="">#}
                    </a>
                </div>
                <div class="login-form">
<form enctype="multipart/form-data" id="form1" name="form1" method="post" action="/user_registeration1">
<h2 align="center">SIGN UP</h2><br>
<table border="0" align="center">
  <tbody>
    <tr>
      <th  scope="row">Name</th>
      <td >
      <input type="text" name="urtextfield" id="textfield" required class="form-control"></td>
    </tr>
    <tr>
      <th scope="row">Date of Birth</th>
      <td>
      <input type="date" name="urdate" id="date" required class="form-control"></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>
      <input type="email" name="urtextfield3" id="textfield3" required class="form-control"></td>
    </tr>
     <tr>
      <th scope="row">Password</th>
      <td>
      <input type="password" name="upwd" id="password" required class="form-control"></td>
    </tr>
    <tr>
      <th scope="row">Contact Number</th>
      <td>
      <input type="tel" name="urnumber" id="number" required class="form-control" pattern="[6-9][0-9]{9}"></td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td>
      <textarea name="urtextarea" id="textarea" required class="form-control"></textarea></td>
    </tr>
    <tr>
      <th scope="row">District</th>
      <td>
      <input type="text" name="urtextfield4" id="textfield4" required class="form-control"></td>
    </tr>
    <tr>
      <th scope="row">Pin</th>
      <td>
      <input type="number" name="urnumber2" id="number2" required class="form-control" pattern="[0-9]{6}"></td>
    </tr>
    <tr>
      <th scope="row">State</th>
      <td>
      <input type="text" name="urtextfield5" id="textfield5" required class="form-control"></td>
    </tr>
    <tr>
      <th scope="row">Profile Image</th>
      <td>
      <input type="file" name="urfileField" id="fileField" required ></td>
    </tr>

    <tr>
      <th scope="row" align="center" colspan="2"><input type="submit" name="ursubmit" id="submit" value="Submit" class="btn btn-primary"></th>
    </tr>
  </tbody>
</table>
</form>
 </div>
            </div>
        </div>
    </div>


  <script src="../static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>
